* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.top-div{
    list-style-type: none;
    background-color: #008375;
    margin: 0%;
    position: relative;
}

.top-button2{
    height: 45px; width: 45px; cursor: pointer;
    margin-top: -10px;  
    background-color: #008375;
}

.top-button2:hover{
    background-color: #34A798;
    margin-right: 5%; 
}
.top-div>ul>li{
    margin-left: 10px;
}
li.top-li2{
    width: 140px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
    color: white;
}

li.top-li{
    display: inline-block;
    vertical-align: middle;
    font-size: 17px;
    height: 45px;
    padding: 10px;
    color: white;
}

.top-li3{
    display: inline-block;
    vertical-align: middle;
    font-size: 17px;
    height: 45px;
    padding: 10px;
    color: white;
}


li:hover.top-li {
    background: #34A798;
    
}

a.top-a{
    color: white;
    text-decoration: none;
}
.top-button:hover{
    background-color: #F5F5F5;
}
.top-button{
    background-color: white; height: 45px; width: 45px; border: 1px solid rgba(0,0,0,.15); cursor: pointer;
    margin-top: -10px;  
}
ul.top-ul{
    list-style-type: none;
    align-content: center;
    margin: 0%;
}
.button-img{
    height: 30px;
    width: 30px;
}

.top-img{
    height:18.45px ;
    width:18.95px ;
}

.div-menu{
    background-color: white;
    width: 200px;
    height: 355px;
    border:1px solid rgba(0,0,0,.15);
    color: #373a3c; 
    position: absolute;
    display: none;
    margin-top: 13px;
    margin-left: -68px;
    font-size: 15px;
}
.div-menu>ul>li{
    padding: 6px;
    width: 100%;

}

.div-menu2{
    background-color: white;
    width: 191px;
    height: 438px;
    border:1px solid rgba(0,0,0,.15);
    color: #373a3c; 
    position: absolute;
    display: none;
    margin-top: 12px;
    margin-left: -60px;
    font-size: 15px;
}
.div-menu2>nav>ul>li{
    padding: 5%;
    width: 100%;
}
.div-menu2>nav{
    border: 1px solid rgba(0,0,0,.15);
}

.div-menu>ul>li:first-child{
    border-bottom: 1px solid rgba(0,0,0,.15);
}
#add-func:hover .div-menu{
    display: block;
}
#add-func2:hover .div-menu2{
    display: block;
}

div>ul>li>div>ul>li>img{
    height: 14.4px;
    width: 14.4px;
}

div>ul>li>div>ul>li:hover{
    background-color: #F5F5F5;
    cursor: pointer;
}

.div-menu2>nav>ul>li:hover{
    background-color: #F5F5F5;
    cursor: pointer;
}

.button-top{
    background-color: white;    
}

.div-middle{
    background-color: #EFEFEF;
}

.div-middle-left{
    margin-left: 7%;
    height: 1000px;
    widows: 2000px;
    background-color: black;
    display: inline-block;
}

.div-middle-right{
    display: inline-block;
}