div.deepskyblue{background-color:deepskyblue;}
div.brown{background-color:brown;}
div.fuchsia{background-color:fuchsia;}
div.darkorange{background-color:darkorange;}
div.darkcyan{background-color:darkcyan;}
div.olivedrab{background-color:olivedrab;}
