td.brown{
    width: 80px;
    background-color: brown;
}

td.deepskyblue{
    width: 80px;
    background-color: deepskyblue;
}

td.blueviolet{
    width: 80px;
    background-color: blueviolet;
}

td.gold{
    width: 80px;
    background-color: gold;
}

td.darkorange{
    width: 80px;
    background-color: darkorange;
}

td.olivedrab{
    width: 80px;
    background-color: olivedrab;
}

